{% extends "blog/base.html" %}
{% block title %}


{% endblock %}
{% block content %}


<head>
    <title>ログイン</title>
</head>

<body>
    <div class="contents">
        <article>
            {% if form.errors  %}
            <p>ユーザーID, パスワードが一致しません．</p>
            {% endif %}
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h3>ログイン</h3>
                {{ form.as_p }}
                <button type="submit">ログイン</button>
            </form>
        </article>
    </div>
</body>
{% endblock %}