{% extends "blog/base.html" %}
{% block title %}

{% endblock %}


{% block content %}

<head>
    <title>ユーザー情報照会ページ</title>
</head>

<body>

    <article>
        <h3>ユーザー情報</h3>
        {% if request.user.profile_icon %}
        {% if request.user.profile_icon == 'default.png' %}
        <img src="{{request.user.profile_icon.url }}" />
        {% else %}
        <img src="{{request.user.profile_icon.thumbnail.url }}" />
        {% endif %} {% endif %}
        <p>ユーザー名:{{request.user.username}}</p>
        <p>自己紹介:{{request.user.self_introduction|linebreaksbr}}</p>
    </article>
    <div class="sidebar"><a href="{% url 'user_cutomize' %}">ユーザー情報編集</a></div>

</body>
{% endblock %}