{% extends "blog/base.html" %}
{% block title %}

{% endblock %}
{% block content %}

<head>
    <title>ユーザーページ</title>
</head>

<article>
    <h2>保有しているブログ</h2>
    {%if blogs_deal > 0%}
    {% for blogs in blog %}

    <h3>{{ blogs.blog_name }}</h3>
    <div>{{ blogs.blog_detail }}</div>
    <hr>
    <a class="btn btn-default" href="{% url 'post_list' pk=blogs.id  %}">投稿一覧</a>
    <a class="btn btn-default" href="{% url 'post_new'    pk=blogs.id %}">新規投稿</a>
    <a class="btn btn-default" href="{% url 'blog_delete' pk=blogs.id %}">削除する</a>
    {% endfor %}
</article>


{% else %}
<p>現在保有しているブログはありません。</p>
<a class="btn btn-default" href="{% url 'blog_settings' %}" class="menu-item">ブログを開設する</a>
{% endif %}

</article>
<div class="sidebar">
    <ul>
        <li><a href="{% url 'show_user' %}">ユーザー情報照会</a></li>
        <li><a href="{% url 'post_draft_list'%}">下書き一覧</a></li>
        <li><a href="{% url 'reject'  %}">退会する</a></li>
    </ul>
</div>
{% endblock %}