{% extends "blog/base.html" %}
{% block title %}

{% endblock %}
{% block content %}

<head>
    <title>ユーザーページ</title>
</head>

<article>
    <h2>保有しているブログ</h2>
    {%if blogs_deal > 0%}
    {% for blogs in blog %}

    <h3>{{ blogs.blog_name }}</h3>
    <div>{{ blogs.blog_detail }}</div>
    <hr>
    <a href="{% url 'post_new' pk=blogs.id %}" class="menu-item"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'blog_delete' pk=blogs.id %}" class="menu-item">削除する</a>
</article>

{% endfor %}
{% else %}
<p>現在保有しているブログはありません。</p>
<a href="{% url 'blog_settings' %}" class="menu-item">ブログを開設する</a>
{% endif %}

</article>
<div class="sidebar">
    <ul>
        <li><a href="{% url 'show_user' %}">ユーザー情報照会</a></li>
        <li><a href="{% url 'post_draft_list'%}">下書き一覧</a></li>
        <li><a href="{% url 'reject'  %}">退会する</a></li>
    </ul>
</div>
{% endblock %}