{% extends "blog/base.html" %}
{% block title %}


{% endblock %}
{% block content %}

<head>
    <title>トップページ</title>
</head>
<div class="contents">
    <h2>最近更新のあったブログ</h2>
    {% for post in articles %}
    <div class="post">
        <div class="title_box">
            <h3><a href="{% url 'post_list' pk=post.id  %}">{{ post.blog_name }}</a></h3>
        </div>
        <div class="date">
            <p>更新日時</p>{{ post.published_date }}
        </div>
    </div>
    <hr>

    {% endfor %}

    {% endblock %}