{% extends 'blog/base.html' %}

{% block content %}

<head>
    <title>{% block title %}記事編集ページ{% endblock%}</title>
</head>

<div class="content">
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {% if detail_flag %}
        <h2>記事編集</h2>
        <input type="hidden" name="blog_set" value={{request.session.blog.id}}>
        {% else %}
        <h2>新規投稿</h2>
        <h2>投稿先:{{request.session.target_blog.blog_name}}
        </h2>
        <div>

            カテゴリー名:<input type="text" name="category_name" />
        </div>

        {% endif %}
        {% if categories.count  > 0%}
        <select name="category_set">{% for category in categories %}<option value="{{category.id}}">
                {{category.category_name}}</option>
            {%endfor%}{{blog.id}}
        </select>
        {% endif %}

        {{ form.as_p }}
        <input type="hidden" name="author_id" value="{{ user.get_id }}">
        下書きとして保存する:<input type="checkbox" name="draft_flag" value="False" />
        <button type="submmit" class="save btn btn-default">投稿する</button>
    </form>
</div>
{% endblock %}