{% extends 'blog/base.html' %}

{% block content %}

<head>
    <title>{% block title %}記事編集ページ{% endblock%}</title>
    <script type="text/javascripts" src="to_post_edit.js"></script>
</head>

<article>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {% if detail_flag %}
        <h3>記事編集</h3>
        <input type="hidden" name="blog_set" value={{request.session.blog.id}}>
        {% else %}
        <h3>新規投稿</h3>
        <h4>投稿先:{{request.session.target_blog.blog_name}}
        </h4>
        <div>

            カテゴリー名:<input type="text" name="category_name" />
        </div>

        {% endif %}
        {% if categories.count  > 0%}
        <select name="category_set">{% for category in categories %}<option value="{{category.id}}">
                {{category.category_name}}</option>
            {%endfor%}{{blog.id}}
        </select>
        {% endif %}
        <a href="javascript:void(0);"
            onclick="window.open('{% url 'uploader' %}','subwin','width=500,height=500');">+</a>
        <a href="{% url 'uploader' %}">画像をアップロードする。</a>
        {{ form.as_p }}
        <input type="hidden" name="author_id" value="{{ user.get_id }}">
        下書きとして保存する:<input type="checkbox" name="draft_flag" value="False" />
        <button type="submmit" class="save btn btn-default">投稿する</button>
    </form>
</article>
{% endblock %}